.form {
    width: 50%;
    min-width: min-content;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--side--padding);
    background-color: var(--rose);
    border-radius: var(--large-border-radius);
    padding: var(--large-padding);
}

.form__checker {
    display: flex;
    gap: 5%;
    justify-content: space-between;
}

.form__input {
    text-align: center;
    background-color: var(--background);
    border: none;
    color: var(--font);
    outline: none;
    border-radius: var(--small-border-radius);
    padding: var(--top-padding) var(--side--padding);
}

.form__input::placeholder {
    color: var(--font);
    opacity: .5;
}

.form__inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    align-items: center;
}

.form__checkerValue {
    cursor: pointer;
}

.form__checkerValue--unchecked {
    opacity: var(--main-opacity);
}

@media screen and (max-width: 400px) {
    .form {
        width: 80%;
    }
}