@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'),
  url("./static/fonts/Montserrat-Regular.woff2") format("woff2"),
  url("./static/fonts/Montserrat-Regular.woff") format("woff");
}

:root {
  --rose: #F5CAC3;
  --font: #3A0D0D;
  --background: #F7EDE2;
  --coral: #F28482;

  --main-opacity: .5;

  --header-height: 63px;

  --large-border-radius: 50px;
  --small-border-radius: 10px;

  --top-padding: 10px;
  --side--padding: 20px;
  --large-padding: 50px;
  --gap: 10%;

  --main-font-size: 20px;
}

* {
  color: var(--font);
  font-size: var(--main-font-size);
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--background);
}

#root, body, html {
  height: 100%;
  width: 100%;
}